<h1>Success!</h1>

Your review has been saved to the $restaurant.getTitle() restaurant.


<a href="/cuisines/$restaurant.getCuisineId()/restaurants/$restaurant.getId()">Return to $restaurant.getTitle()</a>
