<h1>Add a Cuisine</h1>

<form action="/cuisines" method="post">
  <label for="name">Type of Cuisine:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-default">Add Cuisine</button>
</form>
